* {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 2fr 1fr;

    width: 100%;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
}

p, span {
    /* color: #ffffff8e; */
    color: #9CB3E8;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.container {
    background-color: #102044;
    padding: 120px;

    display: grid;
}

.container h1 {
    font-size: 5rem;
    line-height: 1;
    align-self: center;
}

.container span {
    font-size: 1.5rem;
    width: 450px;
    line-height: 1.6;
}

.container p {
    align-self: end;
}

button {
    border-radius: 2em;
    border: none;
    margin-top: 20px;
    
    padding: 1.25em;
    width: 200px;
    height: fit-content;
    
    background-color: #F57905;
    color: white;

    font-weight: 700;
    font-size: 1em;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: white;
    color: #F57905;
}