@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    h3 {
        font-size: 2em;
    }
    
    h4 {
        font-size: 1.5em;
    }
    
    h5 {
        font-size: 1em;
    }
    
    h6 {
        font-size: .7em;
    }
    
    p {
        font-size: 1.2em;
    }
    
    li {
        font-size: 1.2em;
    }

    body {
        max-width: 768px;
        margin: 0 auto;
    }

    nav {
        grid-template-columns: auto;
        /* max-width: 768px; */
    }

    .logo-box h1 {
        font-size: 2em;
        margin: 0;
        padding-top: 10px;
        color: white;
    }
    
    .logo-box p {
        margin: 0;
        color: white;
        font-size: 1.2em;
        padding-bottom: 5px;
        display: block;
    }

    #navigation {
        grid-column: auto;
        grid-row: auto;
        background-color: #1D3354;
        grid-template-columns: repeat(6, auto);
        justify-content: center;
    }

    #navigation li:first-child {
        display: none;
    }
    
    #navigation li {
        display: block;
        font-size: 1em;
    }

    #navigation a {
        text-align: center;
    }

    .contact .bottom-contact:first-of-type {
        display: grid;
    }

    .bottom-contact {
        margin-left: 1.5em;
    }

    .footer-bottom {
        text-align: left;
        padding-left: 15px;
        align-items: center;
    }

    .footer-bottom p {
        font-size: 1em;
        margin: 0;
    }

    .pancakes {
        padding-bottom: 3em;
    }

    .pancakes h3 {
        font-size: 1.5em;
    }
    
    .pancakes p {
        font-size: 1em;
    }

    #preston-header {
        margin: 15px;
    }

    .banner p {
        font-size: 1.5em;
    }

    .forecast {
        display: grid;
        grid-template-columns: repeat(5, auto);
        padding-bottom: 15px;
        margin-bottom: 5em;
    }

    .forecast div {
        display: block;
        text-align: center;
    }

    #forecast-header {
        height: auto;
        padding: 15px;
    }

    #forecast-header p {
        display: none;
    }

    article p img {
        float: right;
        width: 300px;
    }

    article p {
        display: block;
    }

    /* Gallery Styles */
    #gallery-main h1 {
        padding-left: .3em;
    }

    .gallery {
        width: 700px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-gap: 1em;
        justify-content: center;
    }

    .gallery-item {
        width: fit-content;
        align-self: center;
        /* margin: 0 auto 1em; */
    }

    /* Storm center */
    #thanks-main p {
        /* width: 400px; */
        margin: 0 auto;
        padding-bottom: 1em;
        text-align: left;
    }

    /* Home */
    #towns section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 600px;
    }

    #towns section img {
        padding: 1em;
        /* display: inline-block; */
    }

    #towns section:nth-of-type(2) img {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #towns section:nth-of-type(2) .town-info {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #towns section .motto {
        font-size: .8em;
    }
}