test.css
test.html
activities
ice/gallery/index.html
ice/gallery/css/large.css
ice/gallery/css/medium.css
ice/gallery/css/style.css
ice/gallery/images/dandelion.jpg
ice/gallery/js/main.js
lesson03/images/Colors (1).png
lesson03/images/colors (2).png
lesson03/images/colors (3).png
lesson03/images/colors1.png
lesson03/images/logo.svg
lesson03/images/palette (2).png
lesson03/images/palette.png
lesson03/images/Screenshot (102).png
lesson03/images/shoe.svg
lesson04/js/main.js
lesson06/css/style.css
lesson06/images/banner425-old.jpg
lesson06/images/neda-astani-KWTkd7mHqKE-unsplash.jpg
lesson06/images/wdd230_image_franklinOriginal.jpeg
lesson07/images/image-placeholder-500x500.jpg
lesson07/images/y9DpT.jpg
lesson07/preston/images/banner425-old.jpg
lesson07/preston/images/neda-astani-KWTkd7mHqKE-unsplash.jpg
lesson07/preston/images/pancakes.png
lesson07/preston/images/pancakes(1).png
lesson07/preston/images/wdd230_image_franklinOriginal.jpeg
lesson07/preston/images/gallery/to_be_resized/adam-chang-IWenq-4JHqo-unsplash.jpg
lesson07/preston/images/gallery/to_be_resized/andrey-bond-S_O16COE6gU-unsplash.jpg
lesson07/preston/images/gallery/to_be_resized/artem-sapegin-e2uTOpgW5Ec-unsplash.jpg
lesson07/preston/images/gallery/to_be_resized/einar-h-reynis-FxFI66gKEcE-unsplash.jpg
lesson07/preston/images/gallery/to_be_resized/layne-lawson-2uOcrLACf_4-unsplash.jpg
lesson07/preston/images/gallery/to_be_resized/marco-amatulli-WGpC98Tj_y0-unsplash.jpg
lesson07/preston/images/gallery/to_be_resized/narkoleptik-umFDoNM5fiM-unsplash.jpg
lesson07/preston/images/gallery/to_be_resized/noaa-ieWHXjjAEwY-unsplash.jpg
lesson07/preston/images/gallery/to_be_resized/noaa-ZVhm6rEKEX8-unsplash.jpg
menu-example/css/menu.css
menu-example/js/menu.js
ice/app-card/css/style.css
