body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 10% 90%;
    background-color: #629460;
    height: 75px;
    font-size: 1.25em;
}

nav #nav-logo {
    padding-left: 1em;
    display: grid;
    align-items: center;
}

nav #nav-logo h1 {
    margin: 0;
    /* margin-top: .5em; */
    color: white;
}

nav #navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    width: 30%;
    justify-items: center;
    align-items: center;
}

nav #navigation li {
    width: 100%;
    text-align: center;
}

nav #navigation li:hover, nav #navigation li select:hover {
    background-color: #96BE8C;
}

nav #navigation li a {
    text-decoration: none;
    color: white;
}

nav #navigation li select {
    width: 100%;
    font-size: 1.25em;
    border: none;
    background-color: #629460;
    color: white;
    padding: .25em;
}

#pokedex-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    justify-items: center;
}

#pokedex-grid .grid-item {
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

#poke-info {
    display: grid;
    justify-items: center;
}