@media only screen and (max-width: 426px) {
    .images img {
        width: 70px;
        opacity: .5;
    }

    .card-para {
        font-size: 1em;
    }

    .card {
        max-height: 700px;
        max-width: 425px;
    }

    .gradient {
        max-height: 700px;
        max-width: 425px;
    }

    .info h1 {
        font-size: 2em;
    }
}