@media only screen and (max-width: 950px) {
    #intro div:first-child {
        width: 100%;
    }

    #projects.expanded {
        max-height: 2600px;
    }

    #projects button {
        left: 43.5%;
    }
}