@media only screen and (min-width: 1024px) {
    body {
        max-width: 100%;
    }

    main {
        max-width: 1024px;
    }

    .logo-box {
        padding-left: 7em;
        padding-bottom: .5em;
        max-width: 800px;
    }

    #navigation li {
        width: 8em;
    }

    footer {
        margin-top: 50px;
        padding: 15px 0 0 0;
    }

    footer section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .map {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 15px;
        width: 425px;
    }

    .contact {
        grid-column: 2/3;
    }

    .social {
        display: block;
        grid-column: 2/3;
        margin-top: 10px;
    }

    .social img {
        width: 32px;
        padding: 5px;
        margin-left: 15px;
    }

    footer ul {
        margin-bottom: 0;
    }

    footer ul li:first-child {
        display: list-item;
    }

    .footer-bottom {
        background-color: #1D3354;
        height: 2.75em;
        display: block;
        padding: 15px 15px 0px 150px;
        font-size: 1em;
    }

    .banner {
        position: relative;
    }

    .banner div {
        position: absolute;
        bottom: 40%;
        left: 2%;
        width: 300px;
        background-color: #E9FFF9;
        padding: 0 1em 1em 1em;
        display: block;
        /* opacity: 1; */
    }

    .banner p {
        padding: 0;
        font-family: 'Roboto', sans-serif;
        margin: .5em;
    }

    .banner h2 {
        font-size: 1.5em;
        border-bottom: 3px solid #1D3354;
    }

    article p img {
        width: 425px;
    }

    /* Gallery styles */
    #gallery-main {
        max-width: 95%;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        min-width: 900px;
        width: 100%;
    }

    .gallery-item img {
        width: 100%;
    }

    .gallery-item {
        transition: 500ms;
        width: 100%;
    }

    .gallery-item:hover {
        box-shadow: 10px 10px 10px lightgray;
    }

    /* Storm Center */
    #thanks {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #thanks img {
        display: block;
    }

    /* Home */
    #home-main {
        max-width: 90%;
    }

    #towns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    #towns section {
        display: block;
        width: 90%;
    }

    #towns section img {
        width: 95%;
        padding: .5em;
    }
}